@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model GamousMain
<tr>
    <td>
        <a class="btn btn-outline-primary" asp-controller="Home" asp-action="DetailsMummies"
           asp-route-locationID="@Model.LocationId">
            View
        </a>
    </td>
    <td>
        @Model.LocationId
    </td>
    <td>
        @Model.LengthOfRemainsM
    </td>
    <td>
        @Model.SampleNumber
    </td>
    <td>
        @Model.GenderGe
    </td>
    <td>
        @Model.HairColor
    </td>
    <td>
        @Model.EstimateAge
    </td>
    <td>
        @Model.DateFound
    </td>
</tr>