
@model GamousMain
<tr>
    <td>
        <form asp-controller="Home" asp-action="DetailsMummies" method="get">
            <input type="hidden" asp-for="@Model.LocationId" />
            <span class="card-text p-1">
                <button class="btn btn-primary" type="submit">@Model.Gamous</button>
            </span>
        </form>
    </td>
    <td>
        @Model.LocationId
        
    </td>
    <td>
        @Model.LengthOfRemains
    </td>
    <td>
        @Model.SampleNumber
    </td>
    <td>
        @Model.GenderGe
    </td>
    <td>
        @Model.SampleNumber
    </td>
    <td>
        @Model.HairColor
    </td>
    <td>
        @Model.EstimateAge
    </td>
    <td>
        @Model.DateFound
    </td>
</tr>