@model MummyDetailsViewModel 

<form asp-action="OsteologyForm" asp-controller="Home" id="ost_form" name="ost_form" method="post">
    <partial name="CreateLocations" model="@Model.location" />
    <partial name="CreateGamousMains" model="@Model.mummy" />
    <partial name="CreateGamousBones" model="@Model.bone" />
    <partial name="CreateGamousDentals" model="@Model.dentalInfo" />
    <partial name="CreateGamousSamples" model="@Model.sample" />
    <!--
    <partial name="CreateGamousCranials" model="@Model.cranialInfo" />
    <partial name="CreateGamousC14" model="@Model.cranialInfo" />
    <partial name="CreateGamousBiologicalSamples" model="@Model.bioSample" />
    -->
<div class="form-group">
    <button form="ost_form" type="submit" value="Submit" class="btn btn-dark"></button>
</div>
</form>
