@model Intex_2.Models.FieldLocation

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FieldLocation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialAreaNorthOrSouth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialAreaNorthOrSouth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Burialnors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Burialnors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialAreaEastOrWest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialAreaEastOrWest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Burialxeorw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Burialxeorw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Square)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Square)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialWestToHead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialWestToHead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialWestToFeet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialWestToFeet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialSouthToHead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialSouthToHead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialSouthToFeet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialSouthToFeet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialDepth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialDepth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialDirection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialDirection)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LocationId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
