@model IEnumerable<Intex_2.Models.GamousSample>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HairTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoftTissueTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoneTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToothTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TextileTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionOfTaken)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HairTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoftTissueTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoneTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToothTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextileTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionOfTaken)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Gamous">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Gamous">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Gamous">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
