@model Intex_2.Models.GamousCranial

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>GamousCranial</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SampleNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SampleNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumCranialLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumCranialLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumCranialBreadth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumCranialBreadth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasionbregmaHeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasionbregmaHeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Basionnasion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Basionnasion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasionprosthionLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasionprosthionLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BizygomaticDiameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BizygomaticDiameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nasionprosthion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nasionprosthion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumNasalBreadth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumNasalBreadth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterorbitalBreadth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterorbitalBreadth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialPositioningNorthsouthNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialPositioningNorthsouthNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialPositioningNorthsouthDirection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialPositioningNorthsouthDirection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialPositioningEastwestNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialPositioningEastwestNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialPositioningEastwestDirection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialPositioningEastwestDirection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialDepth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialDepth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialSubplotDirection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialSubplotDirection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialArtifactDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialArtifactDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuriedWithArtifacts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuriedWithArtifacts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gilesgender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gilesgender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bodygender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bodygender)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LocationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
